version: '3.9'

services:
  db:
    image: postgres:latest
    container_name: my_postgres_container
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: database
    ports:
      - "5432:5432"
    volumes:
      - my_postgres_data:/var/lib/postgresql/data

  app:
    build: .
    command: python main.py create_tables
    depends_on:
      - db

  adminer:
    image: adminer
    restart: always
    depends_on:
      - db
    ports:
      - 8080:8080
    volumes:
      - my_adminer_data:/sessions

volumes:
  my_postgres_data:
  my_adminer_data:
